:root{
    --transition_ease : all .3s cubic-bezier(0.65, 0.01, 0.62, 0.92) 0s;
    --pink : #f857a6;
    --peach: #ff5858;
    --large-shadow: 0 10px 30px -10px #ff585869;
    --small-shadow: 0 2px 5px #ff585889;
    --black75 : rgba(0,0,0,0.75);
    --black50 : rgba(0,0,0,0.5);
    --black90 : rgba(0,0,0,0.9);
    --white25 : rgba(255,255,255, 0.25);
    --linear-grad : linear-gradient(to right, var(--pink), var(--peach));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Source Sans Pro", sans-serif;

}

html{
    font-size: 16px;
}

body{
    /*display: none;*/
    height: 100%;
}

header{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em; 
    background: white;
    top: 0;
}

.fullHeader{
    width: 100vw;
    margin-top: 0;
    border-radius: 0;
}

header nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1rem .5rem;
    align-items: center;
    z-index: 10;
}

.logo-text{
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 15px;
    color: var(--black90);
}

.nav-list{
    display: flex;
}

.nav-list li{
    margin: 0 10px;
    padding: 0 .5em; 
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.nav-list li::after{
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: var(--black90);
    transform: scaleX(0);
    transform-origin: right;
    transition: var(--transition_ease);
}

.nav-list li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.nav-list li a{
    color: var(--black75);
    transition: var(--transition_ease);
}

.nav-list li:hover a{
    color: var(--black90);
}



/*Wrapper section starts here*/

.wrapper{
    display: grid;
    grid-template-columns: auto; 
    margin-top: 82px;
}

.wrapper section{
    padding: 5em 3em;
}

.wrapper section h1, .wrapper section h2{
    text-transform: uppercase;
    margin: 0;
}

.wrapper .hero h1, .wrapper .hero p{
    color: white;
    margin: .5em 0;
}

.wrapper section h2{
    font-size: 1.4rem;
}

.play-btn{
    margin: 1em 0 0;
    display: block;
    width: fit-content;
}

.primary{
    border: none;
    outline: none;
    padding: 12px 28px;
    background: linear-gradient(to right, var(--pink), var(--peach));
    color: white;
    border-radius: 50px;
    box-shadow: var(--small-shadow);
    cursor: pointer;
    transition: var(--transition_ease);
}

.clipper{
    overflow: hidden;
}

.wrapper section.hero{
    padding-top: 8em;
    background: url(../img/nintendo.jpg);
    background-size: cover;
}

section.hero p{
    width: 70%;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.wrapper section.sidebar{
    background: var(--linear-grad);
    color: white;
}

section.sidebar p, section.rules p{
    font-size: .9rem;
    line-height: 1.4;
    margin-top: 1em;
}

section.sidebar .play-btn{
    color: white;
    font-weight: bold;
    transition: var(--transition_ease);
    position: relative;
}

section.sidebar .play-btn:hover{
    text-decoration: underline;
}

section.sidebar .play-btn::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%; bottom: 0;
    display: inline-block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform:translateY(-50%) rotateZ(45deg);
    margin-left: .5em;
}

@media only screen and (min-width: 768px){
    html{
        font-size: 17px; 
    }
}

@media only screen and (min-width: 1080px)
{

    html{
        font-size: 16px;
    }

    header{
        padding: 1em 2em ;
    }

    .wrapper{
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: "hero sidebar"
                             "hero rules";
    }

    .wrapper section{
        padding: 3em 4em;
}

    .wrapper section.hero{
        grid-area: hero;
        display: flex;
        align-items: center;
    }
}



